body{
    margin:0;
}
.text_from_backend{
    display: none;
}
h1{
    text-align: center;
    text-transform: uppercase;
}

.inputs_home input{
    display: flex;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em 7em;
    border: solid 3px;
    border-radius: 10px;
    border-color: #0367CB;
    font-size: 15px;
}
.button {
    display: grid;
    background-image: linear-gradient(to right,#0367CB 55% , black );
    text-align: center;
    padding: 0.9em;
    margin:0.2em ;
    border-radius: 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
.imagem_home{
    display: block;
    text-align: center;
    margin: auto;
}
.input_result{
    display: flex;
    border: solid 3px;
    padding: 1em 8em;
    border-radius: 10px;
    margin: auto;
}
.text_up_input{
    text-transform: uppercase;
    padding-left: 1em;
    margin: 0;

}
.flex{
    margin: 15px;
}

.button2{
    display: grid;
    background-image: linear-gradient(to right,#0367CB 55% , black );
    text-align: center;
    padding: 0.9em;
    margin:0.2em ;
    border-radius: 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

@media (min-width: 600px)
{
    .text_up_input{
        padding-left: 8em;
    }

}
@media (min-width: 900px) {
    .inputs_home input{
        margin-left:8em ;
    }
    .button{
       max-width:300px;
       display: flex;
       justify-content: center;
       margin-left: 8em;
    }
    .button2{
        max-width:300px;
        display: flex;
        justify-content: center;
        margin-left: 30em;
    }
    .flex{
        margin-left: 8em;
    }
    .imagem_home{
        position: absolute;
       left: 600px;
       top: 100px
       
    }
    .input_result{
        padding-left: 10em;
        padding-right: 10em;
        margin-right: 10%;
    }
}
@media (min-width: 1200px) {
    .input_result{  
     padding-left: 15em;
     padding-right: 15em;
     margin-right: 17%;
    }
    .button2{
        margin-left:55%;  
    }
}
@media (min-width: 1600px) {
    .input_result{  
        padding-left: 32em;
        padding-right: 32em;
        margin-right: 7em;
       }
       
}